@font-face {
    font-family:"RobotoB";
    src: url(../Fonts/Roboto-Bold.ttf);
    
}
@font-face {
    font-family:"Roboto";
    src: url(../Fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family:"Shrikhand";
    src: url(../Fonts/Shrikhand-Regular.ttf);
}
p {
    font-family: "Roboto";
}

/*Animation disparition loading spinner*/
@keyframes disappear {
    0%
    {
        opacity: 1;
    }
    
    50%{
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        visibility: hidden;
        
    }
} /*Animation effet rebondi */
@keyframes bounce {
    to {
      transform: translateY(-80px);
    }
}

/* Général*/
body {
    margin: 0px;
    padding: 0px;
}
/*Animation Chargement*/
.loading {
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
    background: #f2f2f2;
    animation: disappear 3s forwards;
}
.letter {
    font-size: 35px;
    background: linear-gradient( #9356DC 25%, #FF79DA 50%, #99E2D0 75%);
    -webkit-background-clip: text;
    color: transparent;
    margin: auto;
    animation: bounce 1s infinite alternate;
    
}
.letter:nth-child(1) {
    animation-delay: 0.1s;
}
.letter:nth-child(2) {
    animation-delay: 0.2s;
}
.letter:nth-child(3) {
    animation-delay: 0.3s;
}
.letter:nth-child(4) {
    animation-delay: 0.4s;
}
.letter:nth-child(5) {
    animation-delay: 0.5s;
}
.letter:nth-child(6) {
    animation-delay:0.6s;
}
.letter:nth-child(7) {
    animation-delay: 0.7s;
}
.letter:nth-child(8) {
    animation-delay: 0.8s;
}

/* Header/ Header img*/
#header {
    width: 100%;
}
#header img {
     display: block;
     margin: 10px auto;
}
/* Header localisation*/
.research {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#CFCFCF, #EEEEEE 10%);
}
.research i {
    margin-left: 50px;
}
#location {
    border:none;
    background-color: #EEEEEE;
    margin:10px;
    
}
#location::placeholder {
    color: black;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    
}
/*Partie Header intro*/
.intro {
    background-color: #F6F6F6;
    height: 280px;
}
.intro_title {
    margin: 0px 30px 10px;
    padding-top: 30px;
    text-align: center;
    font-weight: lighter;
    font-size: 20px;
    font-family: "RobotoB", sans-serif;
}
.intro_info {
    margin: 0px 20px 30px;
    text-align: center;
}
.intro_btn {
    display: block;
    margin: auto;
    padding: 15px;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    border: none;
    border-radius: 30px;
    box-shadow: 5px 5px 20px #CFCFCF;
    font-size: 16px;
    color: #fff;
}
/*Survol bouton*/
.intro_btn:hover {
    box-shadow: 5px 5px 10px #575757;
    opacity: 0.5;
    cursor: pointer;
}
/*Partie Fonctionnement*/
main {
    width: 100%;
}
h2 {
    margin-left: 15px;
    font-size: 18px;
    font-weight: lighter;
    font-family: "RobotoB", sans-serif;
}

.function_text {
    position: relative;
    margin: 30px 10px 30px 30px;
    
}
.number {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    padding:6px;
    background-color: #9356DC;
    color: #fff;
    position: absolute;
    left: -10px;
    margin-top: 17px;
    text-align: center;
    font-size: 10px;
}
.function_btn {
    width: 95%;
    padding: 20px;
     border-radius: 15px;
     border: none;
     font-weight: bold;
     font-size: 15px;
    
}
.function_btn i {
    margin: 0px 15px 0px 5px;
    
}
/*Survol bouton partie fonctionnement*/
.function_btn:hover {
    background-color: #efe2fa;
    box-shadow: 5px 5px 10px #9A9C9C;
    cursor: pointer;
}
.function_btn i:hover {
   color:#9356DC;
}

/*Partie restaurant*/
 #food_card {
    background-color: #f2f2f2;
    padding-bottom: 20px;
    
}
#food_card h2 {
    padding-top: 30px;
    font-family:"RobotoB", sans-serif;
}
.card1, .card2, 
.card3, .card4 {
    width: 90%;
    height: 220px;
    margin-left: 15px;
    margin-bottom: 15px;
    background-color: #fff;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 5px 5px 20px #E7E8E8;
}
.card3 img, .card4 img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    
}
.card1 img, .card2 img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    position: relative;
} 
a {
    text-decoration: none;
    
}
.new, .new1 {
    border: 2px solid transparent;
    border-radius: 2px;
    padding: 8px;
    color: #337D6B;
    background-color: #99E2D0;
    font-weight: bold;
    font-family:"Roboto", sans-sérif;
    position: absolute;
    right: 0;
    margin-top: 10px;
    margin-right: 40px;
    z-index: 1;
}
.card_text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h3 {
   color: #000;
    font-weight: 100;
    font-size: 16px;
    margin: 5px 0px 0px 10px;
    font-family:"Shrikhand", cursive;
}
h4 {
    color: #000;
     font-weight: lighter;
     font-size: 16px;
     margin: 0px 0px 3px 10px;
 }

/*Animation coeur*/
.anim {
    margin-right: 5px;
    margin-top: 0px;
    position: absolute;
    background: linear-gradient(#9356dc, #ff79da); 
    -webkit-background-clip: text;
    color: transparent;
    transform: scale(0);
}
.icons:hover .anim {
    transform-origin: bottom;
    transform: scale(1);
    transition: transform 0.5s;
}
.heart {
    margin-right: 5px;
    position: relative;
    color: #000;
}
.icons:hover .heart {
    color: transparent;
}
.icons {
    font-size: 20px;
    margin-right: 5px;
}
@media screen and (min-width:768px) and (max-width:1024px) {
    
    #function {
        width: 80%;
        margin:auto;
    }
    .card1, .card2, .card3, .card4 {
        margin: 30px;
    }
    .card_text {
        margin-right: 10px;
        margin-top: 1px;
        font-size: 30px;
    }
    .new, .new1 {
        margin-top: 20px;
        right: 5%;
    }
    .anim {
        margin-top: 1px;
    }
}
@media screen and (min-width:1025px) {
    /*partie cartes restaurants*/
    #food_card {
        display: flex;
        justify-content: center;
    }
    .card1, .card2, 
    .card3, .card4 {
        width: 40%;
        margin-top: 20px;
    }
    .new {
        right: 65%;
        padding: 4px;
    }
    .new1 {
       right: 42%;
       padding: 4px; 
    }
}
@media  screen and (min-width:1440px) {
    /*Partie fonctionnement*/
    #function {
        display: flex;
        justify-content: space-around;
        align-items: center;  
    }
    .function_btn {
        width: 100%;
    }
    /*partie cartes des restaurants*/
    #food_card {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .card1, .card2, .card3, .card4{
        width: 20%;
        height: 300px;
        margin-top: 20px;
    }
    .card1 img, .card2 img, .card3 img, .card4 img {
        height: 220px;
    }
    .card_text{
        font-size: 30px;
        margin:0px 30px 0px 10px;
    }
     h3, h4 {
        font-size: 20px;
    }
    .new {
        right: 67%;
    }
    .new1 {
       right: 46%; 
    }

}